
misoka/5.2 Hierarchial Clustering/Santa.ipynb
misoka/5.2 Hierarchial Clustering/Santa/cities.csv
misoka/5.2 Hierarchial Clustering/Santa/cities.csv.zip
misoka/5.2 Hierarchial Clustering/.ipynb_checkpoints/Santa-checkpoint.ipynb
misoka/2.3.Lasso/test_lasso.csv
misoka/2.3.Lasso/New York Taxi.ipynb
misoka/2.3.Lasso/New York Taxi/test.csv
misoka/2.3.Lasso/New York Taxi/test.zip
misoka/2.3.Lasso/New York Taxi/train.csv
misoka/2.3.Lasso/New York Taxi/train.zip
misoka/2.3.Lasso/Lasso_study-01_a.ipynb
misoka/2.3.Lasso/df_all.csv
misoka/2.3.Lasso/.ipynb_checkpoints/Lasso_study-01_a-checkpoint.ipynb
misoka/2.3.Lasso/.ipynb_checkpoints/New York Taxi-checkpoint.ipynb
misoka/UCI/~$問題_misoka.xlsx
misoka/UCI/Facebook_metrics/Facebook_metrics.txt
misoka/UCI/Facebook_metrics/dataset_Facebook.csv
misoka/UCI/Facebook.ipynb
misoka/UCI/Facebook-Copy1.ipynb
misoka/UCI/.ipynb_checkpoints/Facebook-Copy1-checkpoint.ipynb
misoka/UCI/.ipynb_checkpoints/Facebook-checkpoint.ipynb
misoka/2.3.Lasso/~$2.3.Lasso.pptx
misoka/2.3.Lasso/Lasso_study-01.ipynb
misoka/2.3.Lasso/.ipynb_checkpoints/Lasso_study-01-checkpoint.ipynb
.DS_Store
